.small-tag {
    color: #9058ff;
    border-radius: 0.3125rem;
    background: rgba(255, 255, 255, 0.8);
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.31rem 0.62rem;
    display: flex;
    gap: 0.31rem;
}
